<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>介绍</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8;width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div class="Content" >
    <div class="container-fluid" style="margin-top: 50px; text-align: center">
        <ul class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="list-group" th:each="profession:${professions}">
                <li class="media">
                    <div class="media-body" >
                        <span class="media-heading" th:text="${profession.profession.name}"></span>
                        <span class="label label-primary"  th:text="${profession.score}"></span>
                    </div>
                </li>
            </ul>
        </ul>
    </div>
</div>
</body>
</html>